@import "tailwindcss";

@theme {
	--color-surface-primary: #e3f7fb;
	--color-surface-secondary: #cae6f5;
	--color-surface-tertiary: #d8edf3;
	--color-surface-overlay: #ffffff;

	--color-accent-primary: #00cfff;
	--color-accent-secondary: #aef2ff;
	--color-accent-tertiary: #d3f6ff;

	--color-text-primary: #1f2d38;
	--color-text-secondary: #4a6675;
	--color-text-muted: #7c98a2;
	--color-text-inverse: #ffffff;

	--color-danger: #ff6b6b;
	--color-success: #4dd0a1;
	--color-warning: #ffd166;
}

body {
	background-color: var(--color-surface-secondary);
}
